<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}"/>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/apple-touch-icon-57x57-precomposed.png" | prepend: site.asseturl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/apple-touch-icon-72x72-precomposed.png" | prepend: site.asseturl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/apple-touch-icon-114x114-precomposed.png" | prepend: site.asseturl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/apple-touch-icon-144x144-precomposed.png" | prepend: site.asseturl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/apple-touch-icon-152x152-precomposed.png" | prepend: site.asseturl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ "/apple-touch-icon-180x180-precomposed.png" | prepend: site.asseturl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ "/apple-touch-icon-192x192-precomposed.png" | prepend: site.asseturl }}"/>

    {% stylesheet main %}

    <!--
    OpenGraph:
    https://dev.twitter.com/docs/cards;
    https://developers.facebook.com/docs/reference/opengraph
    -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@{{ site.twitter_username }}" />
    <meta property="twitter:creator" content="@{{ site.twitter_username }}"/>
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:description" content="{{ page.description }}" />
    <meta property="twitter:url" content="{{ site.url }}" />
    <meta property="twitter:image:src" content="{{ "/cover.jpg" | prepend: site.asseturl }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:image" content="{{ "/cover.jpg" | prepend: site.asseturl }}"/>

    {% javascript modernizr %}
</head>
